<mat-toolbar color="primary">
  <img [src]="imagePath" class="logo" />

  <span class="flex-spacer"></span>
  <input placeholder="Search For Anything " />
  <button mat-icon-button><mat-icon>search</mat-icon></button>

  <i class="fa-solid fa-house"></i>
  <span class="flex-spacer"></span>
  <div class="user-details">
    <img [src]="imageDp" />
    <span class="firstname">{{ getFirstName() }}</span>
  </div>
  <!--  -->
  <div class="vl"></div>
  <!--  -->
  <div class="nav-title">Home</div>
  <!--  -->
  <div class="vl"></div>
  <!--  -->
  <div class="nav-title">Find Friends</div>
  <!--  -->
  <div class="vl"></div>
  <!--  -->
  <button
    mat-icon-button
    class="example-icon people-icon"
    aria-label="Example icon-button with home icon">
    <mat-icon>people</mat-icon>
  </button>

  <button
    mat-icon-button
    class="example-icon bell-icon"
    aria-label="Example icon-button with bell icon">
    <mat-icon>message</mat-icon>
  </button>

  <button
    mat-icon-button
    class="example-icon bell-icon"
    aria-label="Example icon-button with favorite icon"
    [matBadge]="3"
    matBadgeColor="warn"
    matBadgeOverlap="true">
    <mat-icon>notifications</mat-icon>
    
  </button>

 
  <!--  -->
  <div class="vl"></div>
  <!--  -->
  <mat-icon>receipt</mat-icon>
  <mat-icon>fa-question-circle</mat-icon>
  <mat-icon [matMenuTriggerFor]="menu" style="cursor: pointer;">arrow_drop_down</mat-icon>
  <!--  -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item>My Profile</button>
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Logout</button>
  </mat-menu>
</mat-toolbar>
<!-- 
<button mat-button (click)="toggleLoginStatus()">
  {{ userLoggedIn ? "Logout" : "Login" }}
</button> -->
