<div class="main">
  <div class="post">
    <div class="container">
      <div class="nav-section">
        <button (click)="showTextArea()" [ngClass]="{ 'active': activeButton === 'make-post' }">
          <i class="material-icons">create</i> Make Post 
        </button>
        <!--  -->
        <div class="vl"></div>
        <!--  -->
        <button (click)="showUploadButton()" [ngClass]="{ 'active': activeButton === 'photo-album' }">
          <i class="material-icons">photo</i> Photo/Video Album
        </button>
        <!--  -->
        <div class="vl"></div>
        <!--  -->
        <button (click)="goLive()" [ngClass]="{ 'active': activeButton === 'live-video' }">
          <i class="material-icons">videocam</i> Live Video
        </button>
      </div>


      
      <div *ngIf="displayType === 'textarea'" class="content-section">
        <div class="text-box">
          <div class="user">
            <img [src]="imagePath" />
          </div>
          <textarea
            placeholder="What's on your mind, {{ getFirstName() }} ?"
          ></textarea>
        </div>
      </div>

      <div *ngIf="displayType === 'upload'" class="content-section">
        <div class="upload-section">
          <div class="user">
            <img [src]="imagePath" />
          </div>
          <button (click)="uploadImage()">Choose Image</button>
        </div>
      </div>

      <div *ngIf="displayType === 'goLive'" class="content-section">
        <div class="live-section">
          <div class="user">
            <img [src]="imagePath" />
          </div>
          <button class="display-live" (click)="isLive ? endLive() : startLive()"> {{ isLive ? 'End Live' : 'Go Live' }}</button>
          <div #videoContainer></div>
        </div>
      </div>

      <hr />

      <div class="actions-bottom">
        <button>
          <i class="material-icons" style="-webkit-text-fill-color: orange"
            >list_alt</i
          >
          List
        </button>
        <button>
          <i class="material-icons" style="-webkit-text-fill-color: green"
            >photo</i
          >
          Photo/Video
        </button>
        <button>
          <i class="material-icons" style="-webkit-text-fill-color: blue"
            >person</i
          >
          Friends
        </button>
        <button >
          <i class="material-icons">more_horiz</i>
        </button>
      </div>
    </div>
  </div>
</div>
